<form action="<%= band.persisted? ? band_url(band) : bands_url %>" 	       	   	method="post"	enctype="multipart/form-data">
	<% if band.persisted? %>
		<input type='hidden' name="_method" value="PATCH">
	<% end %>
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

	<label for="band_name">Name</label>
	<input type="text" name="band[name]" value="<%= band.name %>" id="band_name">
	<br>
	<input type="submit" value="Create Band">
</form>
